/* Coolors Exported Palette - coolors.co/a1a6b4-94c5cc-050e10-b4d2e7-f9f9f9 */

/* HSL */
$color1: hsla(224%, 11%, 67%, 1);
$color2: hsla(188%, 35%, 69%, 1);
$color3: hsla(191%, 52%, 4%, 1);
$color4: hsla(205%, 52%, 81%, 1);
$color5: hsla(0%, 0%, 98%, 1);

/* RGB */
$color1: rgba(161, 166, 180, 1);
$color2: rgba(148, 197, 204, 1);
$color3: rgba(5, 14, 16, 1);
$color4: rgba(180, 210, 231, 1);
$color5: rgba(249, 249, 249, 1);