/* Coolors Exported Palette - coolors.co/202a25-5f4bb6-a1bae3-26f0f1-c4ebc8 */

/* HSL */
$color1: hsla(150%, 14%, 15%, 1);
$color2: hsla(251%, 42%, 50%, 1);
$color3: hsla(217%, 54%, 76%, 1);
$color4: hsla(180%, 88%, 55%, 1);
$color5: hsla(126%, 49%, 85%, 1);

/* RGB */
$color1: rgba(32, 42, 37, 1);
$color2: rgb(109, 141, 201);
$color3: rgb(153, 178, 218);
$color4: rgba(38, 240, 241, 1);
$color5: rgba(196, 235, 200, 1);