body {
	background-color: #bbb;
}

header {
	margin: 10px auto;
	background-color: rgb(109, 141, 201);;
	border: 1px solid #bbb;
	box-shadow: 0 0 30px #777;
	text-align: center;
}

header img {
	display: inline-block;
	vertical-align: middle;
    margin: 10px;
    color: rgba(220, 121, 28, 1);
    max-width: 100px;
}
div.title {
    display: inline-block;
    vertical-align: middle;
}
h1 {
    margin: 5px;
}
nav ul li {
    list-style-type: none;
    background-color: orange;
    padding: 10px;
}